@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ECCA9C;
    text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.marcellus-sc-regular {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
  }

.header h2 {
    font-family: "Marcellus SC", serif;
    font-size: 42px;
  }


.container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 50px;
	padding-left: 100px;
    padding-right: 100px;
}



.question {
    max-width: 50%;
    font-size: 24px;
    margin-bottom: 20px;
	padding: 20px;
	align-items: center;
	text-align: center;
	background-color: #f98a23;
	box-shadow: #422800 10px 10px 0 0;
}

h1 {
	background-color: #f98a23;
	align-items: center;
}

.form {
    max-width: 500px;
    position: relative;
    font-size: 15px;
}

.radiobtn {
	position: relative;
	display: block;
}

.radiobtn label {
	display: block;
	background: #fcf4d9;
	color: #444;
	border-radius: 5px;
	padding: 10px 20px;
	border: 2px solid #f8e5b2;
	margin-bottom: 10px;
	cursor: pointer;
}

.radiobtn label:after,
.radiobtn label:before {
	content: "";
	position: absolute;
	right: 11px;
	top: 11px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background: #f6d89f;
}

.radiobtn label:before {
	background: transparent;
	transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
		0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
	z-index: 2;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 13px;
	background-position: center;
	width: 0;
	height: 0;
}

input[type="radio"] {
	display: none;
	position: absolute;
	width: 100%;
	appearance: none;
}


input[type="radio"]:checked + label {
	background: #f6d89f;
	animation-name: blink;
	animation-duration: 1s;
	border-color: #fcae2c;
}

input[type="radio"]:checked + label:after {
	background: #fcae2c;
}

input[type="radio"]:checked + label:before {
	width: 20px;
	height: 20px;
}

@keyframes blink {
	0% {
		background-color: #f6d89f;
	}
	10% {
		background-color: #f6d89f;
	}
	11% {
		background-color: #f8e5b2;
	}
	29% {
		background-color: #f8e5b2;
	}
	30% {
		background-color: #f6d89f;
	}
	50% {
		background-color: #f8e5b2;
	}
	45% {
		background-color: #f6d89f;
	}
	50% {
		background-color: #f8e5b2;
	}
	100% {
		background-color: #f6d89f;
	}
}

.image {
    max-width: 100%;
    background-color: #f98a23;
    padding: 20px;
    box-shadow: #422800 10px 10px 0 0;
    align-items: center;
	align-content: center;
}

img {
    width: 100%;
	/* align-self: center; */
    /* height: auto; */
}


.buttons {
	display: flex; 
	justify-content: flex-end; 
	align-items: center;
	/* padding-bottom: 10%; */
	padding-top: 100px;
	padding-right: 50px; 
	padding-bottom: 100px;
  }

.button-x {
	background-color: #AFD198;
	border: 4px solid #422800;
	border-radius: 50px;
	width: 200px; 
	box-shadow: #422800 10px 10px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block; 
	font-weight: 600;
	font-size: 24px;
	padding: 0 18px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin-right: 20px; 
}

.button-x:hover {
  background-color: #fff;
}

.button-x:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}


@media (min-width: 768px) {
  .button-x {
    min-width: 120px;
    padding: 0 25px;
  }
}


.footer {
  color: white;
  text-align: center; 
  padding: 20px; 
  position: fixed; 
  left: 0; 
  bottom: 0; 
  width: 100%; 
}

.footer p {
    font-family: "Marcellus SC", serif;
    font-size: 18px;
    margin-right: 10px;
}

/* Track */
::-webkit-scrollbar {
	width: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle on drag */
  ::-webkit-scrollbar-thumb:active {
	background: #333;
  }
  