<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lobby.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
</head>

<body>
    <form id="nextForm" method="POST">
        <div class="header">
            <h2>ART HISTORY QUIZ</h2>
            <div class="button-header">
                <a href="/userdata" class="button user-button">{{user_name}}</a>
            </div>
        </div>
        <div class="container">
            <div class="quiz-title">
                <img src="static\image\Logo.png" alt="Description of Image">
            </div>
            <div class="question">
                <label for="difficulty">Set Difficulty:</label>
                <select id="difficulty" name="difficulty">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>

            <div class="buttons">
                <button class="button-x" type="submit" form="nextForm" formaction="/quiz">Start Quiz</button>
                <button class="button-x" type="submit" form="nextForm" formaction="/practice">Practice</button>
            </div>

        </div>
        <div class="footer">
            <p>Made By: Group 63</p>
        </div>
    </form>
</body>

</html>