<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='starting_page.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h2>ART HISTORY QUIZ</h2>
    </div>
    <div class="container">
        <div class="quiz-title">
            <img src="static\image\Logo.png" alt="Description of Image">
        </div>
        <div class="buttons">
            <a href="/signup" class="button-x" role="button">Sign Up</a>
            <a href="/login" class="button-x" role="button">Log In</a>
        </div>
    </div>
    <div class="footer">
        <p>Made By: Group 63</p>
    </div>
</body>

</html>